<h3>Student Details</h3>
<br>

<div class="alert alert-success" *ngIf='message'>{{message}}</div>

<div class="container">
  <table class=table>
    <thead>
      <tr>
        <th>Id</th>
        <th>FirstName</th>
        <th>LastName</th>
        <th>Email</th>
        <th>Update</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let s of students">
        <td>{{s.id}}</td>
        <td>{{s.first_name}}</td>
        <td>{{s.last_name}}</td>
        <td>{{s.email}}</td>
        <td><button (click)="updateStudent(s.id)" class="btn btn-success">Update</button></td>
        <td><button class="btn btn-warning" mwlConfirmationPopover 
          [popoverTitle]="popoverTitle"
          [popoverMessage]="popoverMessage"
          placement="left"
          (confirm)="deleteStudent(s.id)"
          (cancel)="cancelClicked = true">Delete</button></td>
      </tr>
    </tbody>

  </table>

  <div class="row">
    <button (click)="addStudent()" class="btn btn-success">Add Student</button>
  </div>


</div> 
